## Zadanie 1
Napisz funkcję, która sprawdzi, czy liczba podana jako argument jest parzysta

In [33]:
def zadanie1(liczba):
  # miejsce na twój kod!
  pass

In [ ]:
# Odpalając tą komórkę możesz przetestować swoje rozwiązanie :D
def test_zadanie1():
    assert zadanie1(2) == True
    assert zadanie1(3) == False
    assert zadanie1(0) == True
    assert zadanie1(-2) == True
    assert zadanie1(-3) == False
    print("All test cases passed!")

test_zadanie1()

Poniżej wzorcowe rozwiązanie zadania 1

In [31]:
# @title
def zadanie1(liczba):
    return liczba % 2 == 0

# Zadanie 2
Utwórz listę liczb od 1 do 'n' i następnie stwórz nową listę zawierającą tylko liczby podzielne przez 3, gdzie n jest argumentem funkcji

In [35]:
def zadanie2(n):
  # miejsce na twój kod
  pass

In [38]:
# Odpalając tą komórkę możesz przetestować swoje rozwiązanie :D
def test_zadanie2():
    assert zadanie2(10) == [3, 6, 9]
    assert zadanie2(15) == [3, 6, 9, 12, 15]
    assert zadanie2(20) == [3, 6, 9, 12, 15, 18]
    print("All test cases passed!")

test_zadanie2()

All test cases passed!

Poniżej wzorcowe rozwiązanie zadania 2

In [37]:
# @title
def zadanie2(n):
  wynikowa_lista = []
  for x in range(1, n+1):
    if x % 3 == 0:
      wynikowa_lista.append(x)
  return wynikowa_lista

def zadanie2_fancy(n):
  return [x for x in range(1, n+1) if x % 3 == 0]

# Zadanie 3
Korzystając z funkcji map(), zamień listę liczb [1, 2, 3, 4, 5] na ich sześciany.

In [ ]:
def zadanie3():
  # miejsce na twój kod
  pass

In [30]:
# Odpalając tą komórkę możesz przetestować swoje rozwiązanie :D
def test_zadanie3():
    assert zadanie3() == [1, 8, 27, 64, 125]
    print("All test cases passed!")

test_zadanie3()

All test cases passed!

Poniżej wzorcowe rozwiązanie zadania 3

In [29]:
# @title
def zadanie3():
  lista = [1,2,3,4,5]
  return list(map(lambda x: x**3 ,lista))

# Zadanie 4
Użyj pętli for, aby znaleźć sumę liczb od 1 do 100

In [ ]:
def zadanie4():
  # miejsce na twój kod
  pass

In [41]:
# Odpalając tą komórkę możesz przetestować swoje rozwiązanie :D
def test_zadanie4():
  assert(zadanie4() == 5050)
  print("All test cases passed!")

test_zadanie4()

All test cases passed!

Poniżej wzorcowe rozwiązanie zadania 4

In [40]:
# @title
def zadanie4():
  ans = 0
  for i in range(1,101):
    ans += i
  return ans

# Zadanie 5
Stwórz słownik w którym klucze są liczby od 1 do 5, a wartości to ich kwadraty.

In [46]:
def zadanie5():
  # miejsce na twój kod
  pass

In [45]:
# Odpalając tą komórkę możesz przetestować swoje rozwiązanie :D
def test_zadanie5():
  assert(zadanie5() == {1: 1, 2: 4, 3: 9, 4: 16, 5: 25})
  print("All test cases passed!")

Poniżej wzorcowe rozwiązanie zadania 5

In [44]:
# @title
def zadanie5():
  dict_test = {}
  for i in range(1,6):
    dict_test[i] = i**2
  return dict_test